{% extends "base.html" %}
{% load article_tags %}
{% block title %} articles {% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h4>这里已经有{% total_articles %}篇文章供你阅读</h4>

</div>
<div class="container" style="width: 100%">
    {% for article in articles %} 
 

    <div class="list-group">
        <a href="{{article.get_url_path}}" class="list-group-item active">
            <h4 class="list-group-item-heading" style="margin-bottom: 0px">
                {{article.title}}
            </h4>
        </a>
        <a href="{% url 'article:author_articles' article.author.username %}" class="list-group-item">
            <!-- <h4 class="list-group-item-heading">
                作者
            </h4> -->
            <p class="list-group-item-text">
                作者:{{article.author.username}}
            </p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">摘要</h4>
            <p class="list-group-item-text">{{article.body|slice:'70'| linebreaks}}</p>
            <!-- <p>{{ article.body | markdown}}</p> -->
        </a>
    </div>

    {% endfor %}
{% include "paginator.html" %} 
</div>
{% endblock %}