

<div class="">
    <div class="text-center" style="margin-top: 5px;">
        <!-- <ul class="list-group">
            <li class="list-group-item "><a href="{% url 'article:article_column' %}">栏目管理</a></li>
            <li class="list-group-item"><a href="{% url 'article:article_post' %}">发布文章</a></li>
            <li class="list-group-item"><a href="{% url 'article:article_list' %}">文章列表</a></li>
            <li class="list-group-item"><a href="{% url 'article:article_tag' %}">文章标签</a></li>
        </ul> -->
        <!-- <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'image:list_images' %}">图片管理</a></li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'course:manage_course' %}">课程管理</a></li>
            <li class="list-group-item"><a href="{% url 'course:create_lesson' %}">内容发布</a></li>
        </ul> -->
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">文章管理</h3>
            </div>
            <div class="panel-body" style="padding: 0px">
                <ul class="list-group" style="margin: 0px">
                    <li class="list-group-item "><a href="{% url 'article:article_column' %}">栏目管理</a></li>
                    <li class="list-group-item"><a href="{% url 'article:article_post' %}">发布文章</a></li>
                    <li class="list-group-item"><a href="{% url 'article:article_list' %}">文章列表</a></li>
                    <li class="list-group-item"><a href="{% url 'article:article_tag' %}">文章标签</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">图片管理</h3>
            </div>
            <div class="panel-body" style="padding: 0px">
                <ul class="list-group" style="margin: 0px">
                    <li class="list-group-item"><a href="{% url 'image:list_images' %}">图片管理</a></li>

                </ul>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">课程管理</h3>
            </div>
            <div class="panel-body" style="padding: 0px">
                <ul class="list-group" style="margin: 0px">
                    <li class="list-group-item"><a href="{% url 'course:manage_course' %}">课程管理</a></li>
                    <li class="list-group-item"><a href="{% url 'course:create_lesson' %}">内容发布</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="text-center" style="margin-top: 5px;">
            <p><h4>图片管理</h4></p>
            <p><a href="{% url 'image:list_images' %}">图片管理</a></p> 
        </div>    
        <hr>
        <div class="text-center" style="margin-top: 5px;">
            <p><h4>课程管理</h4></p>
            <p><a href="{% url 'course:manage_course' %}">课程管理</a></p> 
            <p><a href="{% url 'course:create_lesson' %}">内容发布</a></p>
        </div> -->
        <!-- <ul class="nav nav-tabs nav-stacked" id="myNav">
                <li class="active"><a href="{% url 'article:article_column' %}">栏目管理</a></li>
                <li><a href="{% url 'article:article_post' %}">发布文章</a></li>
                <li><a href="{% url 'article:article_list' %}">文章列表</a></li>
        </ul> -->
    </div>
</div>

